@import "tailwindcss";

.highlighted-line {
  background-color: rgba(59, 130, 246, 0.15) !important;
}

.highlighted-glyph {
  background-color: #3b82f6;
  width: 4px !important;
  margin-left: 3px;
}

body {
  margin: 0;
  background: #09090b;
}
